# Dependencies
node_modules/

# System Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Editor Directories
.vscode/
.idea/

# Lighthouse Reports
.lighthouseci/
*.lighthouse.*.html
*.lighthouse.*.json
